---
layout: default
title: Blog
---
<div class="wrapper">
{%- include navigation.html %}


<h1>Latest Posts</h1>

<ul>
  {% for post in paginator.posts %}
    <li>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </li>
  {% endfor %}
</ul>

<!-- Pagination links -->
<div class="pagination" style="margin:auto;">
  {% if paginator.previous_page %}
    <button onclick="location.href='{{ paginator.previous_page_path }}'" class="previous">
      Previous
    </button>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <button onclick="location.href='{{ paginator.next_page_path }}'" class="next">Next</button>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
  
  {%- include footer.html %}
</div>

<script type="text/javascript" src="assets/js/faunadb.js"></script>
<script type="text/javascript">
function saveUrl(myurl) {
  var faunadb = window.faunadb
  var q = faunadb.query
  var client = new faunadb.Client({
    secret: 'fnAFIN9VxvAAzVwaG-yQnHUGepn1UMa15r1pDt2O',
    // Adjust the endpoint if you are using Region Groups
    endpoint: 'https://db.eu.fauna.com/',
  })
  client.query(
    // q.Get(q.Ref(q.Collection('Message'), '369229459510788301'))
     q.Create(
    q.Collection('QRcodesurl'),
    { data: { url: myurl,
              creationdate: String(new Date()) 
                } 
    }
  )
  )
  .then(function (res) { 
      console.log('Result:', res);
      //document.getElementById("messages").innerHTML = "Result is : "+res.data.message;
 })
  .catch(function (err) { console.log('Error:', err) })
}
</script>

<script>
function countInc() {
var n = localStorage.getItem('visitorCounter');
if (n === null) {
    n = 1;
} else {
    n++;
}
//console.log(n);
localStorage.setItem("visitorCounter", n);
}

countInc();
saveUrl('visited.blog');
</script>
